.more-time-main{
    text-align:start;
    display: flex;
    flex-direction: row;
    padding: 2rem 2rem;
    justify-content: space-between;
}

.more-time-left h2{
    font-size: 30px;
}

.more-time-left p{
    font-size: 20px;
}

.more-time-container{
    display: flex;
    width: 100%;
}
/* random comment */