.quote-card-main{
    border-bottom: 4px solid var(--lightGrey);
    display: flex;
    width: 100%;
}

.quote-card-left{
    width: 70%;
    font-size: 24px;
    text-align: start;
    padding: 0 2rem;
}

.quote-card-left p{
    font-size: 20px;
    color: grey;
}

.quote-card-right{
    padding: 1rem 2rem 0 0;
    justify-content: flex-end;
    display: flex;
    width: 30%;
    align-items: flex-start;
    font-weight: 700;
    font-size: 20px;
    text-decoration: underline;
}

.quote-card-right img{
    margin-top: 1.2rem;
}

.quote-card-right p{
    margin-left: 5%;
    margin-right: 8%;
    margin-bottom: 5rem;
    cursor: pointer;
}

.quote-card-bottom{
    width: 100%;
}

.quote-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.quote-btn-bottom{
    margin-top: -2rem;
}

.quote-btn-bottom details {
    font-size: 20px;
    border: none;
    border-bottom: 1px solid black;
    background-color: white;
    cursor: pointer;
    width: fit-content;
    margin-inline: auto ;
}

.quote-btn-bottom details summary {
    list-style: none;
}

