@use "../../_variables.scss" as v;

#reviews {
  background-color: v.$turners-white;
  padding: 50px;
  margin: 20px 0;
}

#reviews h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 50px;
}

#reviews h3 img {
  width: 20px;
  margin-left: 8px;
}

.review-blocks {
  display: flex;
  padding: 10px 40px;
}

.review-blocks section {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 20px;
}

.review-blocks section h4 {
  margin: 0;
}

.review-blocks section h5 {
  margin: 0 0 12px 0;
  font-weight: 500;
}

.review-blocks section p {
  margin: 10px 30px;
  font-size: 1rem;
  font-style: oblique;
  position: relative;
}

.review-blocks section img {
  border-radius: 50%;
}

.review-blocks section p:before {
  content: open-quote;
}

.review-blocks section p:after {
  content: close-quote;
}

.review-blocks section p:before,
.review-blocks section p:after {
  font-size: 22px;
  color: v.$turners-blue;
  vertical-align: bottom;
  line-height: 1;
}
